#main {
  margin-top: 1em;
  border : solid 1px;
}

.img-block {
  display: block;
  margin : auto;
}

#logo {
  height : 130px;
}

#title {
  background-color: #CCC;
}

#search {
  /* this works for hackathon */
  margin-top: 30px;
}

/* reviews */
.reviews {
  border: solid 1px;
}

.review-header > * {
  display: inline-block;
}

#positive > .name {
  color: ;
}

#positive > .name {
  color: ;
}
