#main {
  margin-top: 1em;
  border : solid 1px #EEE;
}

.img-block {
  display: block;
  margin : auto;
}

/* flexbox implementation because bootstrap no support */
.flex {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-vertical {
  flex-direction: row;
  flex-wrap: wrap;
}

.flip-it-button {
  background: #13988A;
  color: #FFF;
  text-transform : uppercase;
  border: none;
}

#url-query {
  background: #EEE;
  border: none;
  text-align: left;
  padding: 10px;
}

.flip-it-button, #url-query {
  height: 45px;
  font-size: 20px;
}

#logo {
  height : 130px;
}

#banner {
  margin-bottom: 40px;
}

#title {
  background-color: #EEE;
  padding-bottom: 10px;
}

#title h1 {
  font-size: 32px;
  color: #666;
}

#title h4 {
  color: #666;
}

#search {
  /* this works for hackathon */
  margin-top: 30px;
}

/* reviews */
.reviews {
  border: solid 1px #EEE;
  padding: 0 1em;
}

.review-header {
  margin: 1em;
}

.review-header > * {
  display: inline-block;
}

.review-content {
  margin : 15px 0;
}

.reviewer-profile-pic {
  margin-right: 8px;
}

.review-body {
  margin-top: 10px;
  margin-bottom: 25px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.round-thumbnail {
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

#positive .name, #positive h3 {
  color: #13988A;
  font-weight : 700;
}

#negative .name, #negative h3 {
  color: #F05355;
  font-weight : 700;
}

.name {
  font-size: 18px;
}

#positive h3, #negative h3 {

}
